<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body class="container main">
        <div class="header">
            <h1>BlahStation</h1>
            <legend>Where people love to trash talking...</legend>
            <a class="btn" href="/users/form">Add</a><a class="btn" href="/users?page=1">List</a><a href="/cart" class="btn">Cart</a>
        </div>
        <%- include(page) %>
    </body>
</html>